

.text-field {
    -fx-background-color:   #00A6A6;
    -fx-border-color: #A9A9A9;
    -fx-border-radius: 5pt;
    -fx-text-fill: #FFF;
}

.text-field:focused {
    -fx-border-color: white;
}

.button{
    -fx-background-color: #6096BA;
}
.button:hover{
    -fx-background-color: aquamarine;
}

.button{
    -fx-border-radius: 5pt;
    -fx-background-color: #00A6A6;


}

.label
{


}